@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ping Fang';
  src: url(/fonts/PingFangSC-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Ping Fang';
  src: url(/fonts/PingFangSC-Semibold.woff2) format('woff2');
  font-display: swap;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-900 rounded-lg;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', 'Ping Fang', sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-zinc-100;
}

body {
  font-family: 'Inter', 'Ping Fang', sans-serif;
}


