@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", "Noto Sans SC", sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-neutral-100;
}

body {
  font-family: "Inter", "Noto Sans SC", sans-serif;
}

::selection {
  @apply bg-red-600 text-white;
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 85%;
  height: 20px;
}

.SliderTrack {
  @apply bg-neutral-500;
  position: relative;
  flex-grow: 1;
  height: 5px;
  @apply rounded-full;
}

.SliderRange {
  position: absolute;
  height: 100%;
  @apply bg-neutral-700;
}

.SliderThumb {
  width: 15px;
  height: 15px;
  box-shadow: 0 2px 10px var(--black-a7);
  border-radius: 10px;
  @apply bg-neutral-700;
  display: none;
}

.container {
  column-count: 2; /* 将容器分为两列 */
  column-gap: 0; /* 列之间没有间隔 */
}

.text {
  break-inside: avoid-column; /* 不允许文本跨列断行 */
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 80vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  @apply rounded-xl border-2 px-6 md:px-12 sm:px-16 py-12;
}
.DialogContent:focus {
  outline: none;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--mauve-6);
}

.TabsTrigger {
  font-family: inherit;
  background-color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: var(--mauve-11);
  user-select: none;
  @apply text-base md:text-lg sm:text-lg px-6 py-1.5 md:py-2 sm:py-2 border-[1.5px] rounded-full bg-white;
}

.TabsTrigger[data-state="active"] {
  @apply bg-red-600 text-white rounded-full font-medium;
}
